name: Build and Push Operator Image

on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: self-hosted

    steps:
    - name: Check Out Repo
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.19

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        skip-pkg-cache: true

    - name: Run Tests
      run: make test

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build Operator Image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: false
        tags: ghcr.io/${{ github.repository }}:latest

  push:
    needs: build-and-test
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: self-hosted

    steps:
    - name: Check Out Repo
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Operator Image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ github.ref_name }}
          ghcr.io/${{ github.repository }}:latest
        platforms: linux/amd64,linux/arm64

    - name: Bundle Configuration
      run: make bundle
    
    - name: Upload Bundle
      uses: softprops/action-gh-release@v1
      with:
        files: |
          LICENSE
          bundle/*.yaml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}